<div class="container">
    <div class="card">
        <img src="home.jpg" alt="Card Image" class="card-image">
    </div>
    <div class="separator"></div>
    <div class="card">
        <h1>Connect To Connect</h1>
        <p>Use CitizenConnect360 to connect with the government by accessing information on documents, reporting incidents  with multimedia support, and leveraging AI to summarize 
            
            feedback and identify priorities. 
            
            Participate in public polls to gauge opinion and aid decision
            making</p>
        <button class="card-button" (click)="navigate()">Learn More</button>
    </div>
</div>
<br>
<br>
<app-about-us></app-about-us>

