<div class="background-image-container" style="background-image: url('education.jpg');">
  <img src="" alt="">
  <h3>Educate</h3>
  <hr>
  <div class="card-row">
    <div class="card-view" id="card-view-1">
      <img src="constitution.png" class="card-icon" alt="Icon 1">
      <h1>Constitution</h1>
      <p>It's the supreme law of the land outlining the fundamental principles, structures, and functions of the government, as well as the rights and duties of citizens.</p>
      <button class="card-button" (click)="navigate()">Get Started</button>
    </div>
    <div class="card-view" id="card-view-2">
      <img src="financebill.png" class="card-icon" alt="Icon 2">
      <h1>Finance Bill</h1>
      <p>Reports from various government departments and agencies detailing their activities, achievements, and financial statements.</p>
      <button class="card-button" (click)="navigate()">Get Started</button>
    </div>
  </div>
  <div class="card-row">
    <div class="card-view" id="card-view-3">
      <img src="policy.png" class="card-icon" alt="Icon 3">
      <h1>Government Policy</h1>
      <p>Laws passed by the parliament, including new laws and amendments to existing laws.</p>
      <button class="card-button" (click)="navigate()">Get Started</button>
    </div>
    <div class="card-view" id="card-view-4">
      <img src="annualreport.png" class="card-icon" alt="Icon 4">
      <h1>Annual report</h1>
      <p>Reports from various government departments and agencies detailing their activities, achievements, and financial statements.</p>
      <button class="card-button" (click)="navigate()">Get Started</button>
    </div>
  </div>
</div>
<br>
<app-about-us></app-about-us>
