<section class="hero">
    <div class="heading">
        <h1>About Us</h1>
    </div>
    <div class="container">
        <div class="hero-content">
            <h2>Welcome To Our Website</h2>
            <p>
                CitizenConnect360 is a revolutionary platform designed to bridge the gap between citizens and the government. With our intuitive and user-friendly interface, citizens can now easily access and understand crucial government documents, such as the Finance Bill, and participate in the decision-making process. Report incidents and submit feedback to the government with ease, and engage with AI-driven services to stay informed. Our platform enables citizens to make their voices heard, and government officials to make data-driven decisions. By fostering a culture of transparency, accountability, and inclusivity, CitizenConnect360 is poised to transform the way citizens interact with their government, and create a more responsive and effective governance system.
            </p>
            <button class="cta-button">Learn More</button>
        </div>
        <div class="hero-image">
            <img src="about.png" alt="About">
        </div>
    </div>
</section>
