<div class="card-view">
  <div class="card-header">
    <h1>Login</h1>
    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
  </div>
  <div class="card-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="Email" class="form-control">
        <div *ngIf="form.get('Email')?.invalid && (form.get('Email')?.touched || submitted)" class="error-message">
          Email is required and must be a valid email address.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="Password" class="form-control">
        <div *ngIf="form.get('Password')?.invalid && (form.get('Password')?.touched || submitted)" class="error-message">
          Password is required.
        </div>
      </div>
      <div class="btn-container">
        <button type="submit" class="btn">Login</button>
        <p><a href="/forgot">Forgot Password</a></p>
      </div>
      <div *ngIf="error$ | async" class="error-message">
        {{ error$ | async }}
      </div>
      <div *ngIf="loginSuccess$ | async" class="success-message">
        {{ loginSuccess$ | async }}
      </div>
      <div *ngIf="loginLoading$ | async" class="loading-message">
        Loading...
      </div>
    </form>
  </div>
</div>

<br>
<app-about-us></app-about-us>
