

<app-polls></app-polls>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="polls-container">
    <h1>Create Poll</h1>
    <hr>
    <form class="poll-card">
        <label for="poll-question">Add a Question:</label>
        <input type="text" id="poll-question" class="poll-input" placeholder="Enter your question here">
        <label>Add Option:</label>
        <div class="poll-option">
            <input type="text" placeholder="Enter an option" class="poll-input">
        </div>
        <div class="poll-option">

            <input type="text" placeholder="Enter an option" class="poll-input">
        </div>
    </form>
    <div class="poll-icons">
        <button class="poll-button">Create Poll</button>
        <button class="action-button">
            <i class="fa-solid fa-pen"></i> Edit
        </button>
        <!-- <button class="action-button">
            <i class="fa-solid fa-trash"></i> Delete
        </button> -->
    </div>
</div>