
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    
}

.card-view {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 1000px;
    text-align: center;
}

.card-view h1 {
    margin-top: 0;
    font-size: 24px;
}

.card-view p {
    margin: 10px 0 20px;
    color: #666;
}
.card-view a
{
    text-decoration: none;
}

.card-view form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-view label {
    margin-bottom: 5px;
    font-weight: bold;
}

.card-view input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    background-color: #ccc;
    border-radius: 4px;
}

.card-view button {
    width: 80%;
    
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.card-view hr
{
    width: 100%;
    background-color: #ccc;
}

.card-view button:hover {
    background-color: rgb(139, 56, 56);
}

.return-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:90px;
}


.return-link:hover {
    text-decoration: underline;
}
